.message {
    display: flex;
    flex-direction: column;

    margin: 25px 70px 0 0;
}


.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin-left: 25px;
    align-self: center;

}

.text {
    align-items: center;
    justify-items: end;
    border: rgba(0, 102, 204, 1) 1px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 102, 204, 1);
    color: rgba(255, 255, 255, 1);
    position: relative;


}

.text:after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgba(0, 102, 204, 1);
    border:1px solid rgba(0, 102, 204, 1);
    position: absolute;
    top: 45px;
    right: -14px;
    clip-path: polygon(50% 0, 100% 50%, 0 50%);

}

.name {
    font-weight: bold;
    padding-bottom: 3px;

}

.messageText {
    font-weight: 400;
    font-size: 16px;
}

.time {
    font-size: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: end;

    align-self: end;
    margin-right: 10px;


}