.stand {
    margin:70px 105px 70px 70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
