.radio {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: black;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;

}

.options {
}
