.buttonsContainer {
   margin: 0px 0 280px 70px;
   max-width: 275px;
   display: flex;
   justify-content: space-between;
}


.editableSpanContainer {
   margin: 45px 0 25px 70px;
   width: 275px;
   height: 35px;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 16px;


}