.App {
    --header_height: 60px;

}

.hw {
    font-family: Montserrat;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    border-top: 1px solid rgba(217, 217, 217, 1);
}


.hwTitle {
    margin: 70px 0 10px 70px;
    font-weight: 600;
    font-size: 22px;
}
