.friendMessage {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 70px;

}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 35px;
    align-self: center;
}

.friendText {

    align-items: center;
    border: rgba(245, 247, 251, 1) 1px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(245, 247, 251, 1);
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1);
    position: relative;


}

.friendText:after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgba(245, 247, 251, 1);
    border:1px solid rgba(245, 247, 251, 1);
    position: absolute;
    top: 47px;
    left: -19px;
    clip-path: polygon(50% 0, 100% 50%, 0 50%);


}

.friendName {
    font-weight: bold;
    padding-bottom: 3px;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
}

.friendTime {

    font-size: 10px;
    font-weight: 600;
    margin-left: 10px;


}

