.sendForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px 25px 70px;

}

.textarea {
    min-width: 975px;
    min-height: 40px;
    border-radius: 20px;
    border: none;
    background: rgba(245, 247, 251, 1);
    resize: none;
    padding:10px 0 10px 25px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1);

}
.textarea:focus {
    outline: none;
}
.textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 90%;
    font-weight: 400;
    font-family: Montserrat;
    font-size: 14px;



}
.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: rgba(0, 102, 204, 1);
    color: rgba(255, 255, 255, 1);


}

.button:hover {

}

.button:active {
 opacity:50%;
}

